[Unit]
Description={{.Description}}
After=network.target
StartLimitIntervalSec=0
StartLimitBurst=0

[Service]
Type=simple
User={{.User}}
WorkingDirectory=~
{{range $k, $v := .Environment }}
Environment={{$k}}={{$v}}
{{end}}
ExecStart={{.ExecStart}}
Restart=on-failure
RestartSec=5s
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target