name: Tests
on:
  pull_request:
  push:
    branches:
      - main
      - release/**

jobs:
  install-tparse:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: '1.21.1'
      - name: Display Go Version
        run: go version
      - uses: actions/cache@v4
        id: cache-go-tparse
        with:
          path: ~/go/bin
          key: ${{ runner.os }}-go-tparse-binary
      - name: Install tparse
        if: steps.cache-go-tparse.outputs.cache-hit != 'true'
        run: |
          go install github.com/mfridman/tparse@v0.11.1

  test-unit-cover:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: technote-space/get-diff-action@v6.1.2
        with:
          PATTERNS: |
            **/**.go
            go.mod
            go.sum
      - uses: actions/setup-go@v5
        if: env.GIT_DIFF
        with:
          go-version: '1.21.1'
          cache: true
      - name: Test and Create Coverage Report
        if: env.GIT_DIFF
        run: |
          make test-unit-cover
      - uses: codecov/codecov-action@v3
        if: env.GIT_DIFF
        with:
          file: ./coverage.txt
          fail_ci_if_error: true

  build-ojod:
    uses: ./.github/workflows/build.yml

  liveness-test:
    needs: build-ojod
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: technote-space/get-diff-action@v6.1.2
        id: git_diff
        with:
          PATTERNS: |
            **/**.go
            go.mod
            go.sum

      - name: gets ojod bin
        if: env.GIT_DIFF
        uses: actions/download-artifact@v4
        with:
          name: ojod-linux-amd64
          path: ./build

      - name: Start celestia devnet
        if: env.GIT_DIFF
        run: |
          chmod +x ./build/ojod
          chmod +x ./scripts/celestia_devnet.sh
          ./scripts/celestia_devnet.sh &
      - name: Start ojod rollup
        if: env.GIT_DIFF
        env:
          PRICE_FEEDER_CONFIG: ./pricefeeder/price-feeder.example.toml
          PRICE_FEEDER_LOG_LEVEL: DEBUG
          PRICE_FEEDER_CHAIN_CONFIG: TRUE
        run: |
          sleep 30s
          chmod +x ./build/ojod
          chmod +x ./scripts/init-local.sh
          ./scripts/init-local.sh &
      - name: Test Local Network Liveness
        if: env.GIT_DIFF
        run: |
          sleep 1m
          ./scripts/localnet-liveness.sh 50 5 50 localhost:36657

  test-e2e:
    runs-on: ubuntu-latest
    needs: install-tparse
    timeout-minutes: 25
    steps:
      - uses: actions/checkout@v4
      - uses: technote-space/get-diff-action@v6.1.2
        with:
          PATTERNS: |
            **/**.go
            go.mod
            go.sum
      - uses: actions/setup-go@v5
        if: env.GIT_DIFF
        with:
          go-version: '1.21.1'
          cache: true

      - name: Test E2E
        if: env.GIT_DIFF
        run: |
          make test-e2e
